# SPDX-FileCopyrightText: 2026 Alexander Merose <al@merose.com> & einfold Authors
#
# SPDX-License-Identifier: Apache-2.0

# Code owners approve pull requests. Add more owners as the project grows.
* @alxmrs
